<!DOCTYPE html>
<html>
<head>
	<title>Smart Goals</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="HawiCaesar">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">

		<div class="jumbotron">
			<h1>Page Not Found, 404</h1>
			<p class="lead">Sorry, The page you are looking for doesnt exist</p>
		</div>

	</div>
</body>
</html>